@import "./_variables";
@import "./_functions";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #888;
	&:hover {
		color: #cacaca;
	}
}

li {
	list-style: none;
}

::-webkit-scrollbar-track {
	border-radius: pxToRem(10);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: pxToRem(12);
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: pxToRem(10);
	background-color: #868f96;
}

::selection {
	background: #5e024a;
	color: #cacaca;
}

html {
	overflow: overlay;
}

body {
	height: 100%;
	width: 100%;
	font-family: "B612 Mono", monospace;
}

.main {
	z-index: 1;
	position: relative;
	min-height: 100vh;
	width: 100%;
	padding: 10rem 0;
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
	color: #cacaca;
	header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		width: 100%;
		min-height: 8vh;
		background: rgba(1, 1, 1, .03);
    backdrop-filter: blur(pxToRem(25));
    border-bottom: pxToRem(1) solid rgba(1, 1, 1, .08);
		nav ul {
			@include flexCenter(end);
			padding: 0 pxToRem(35);
			margin: pxToRem(20) auto;
		}
	}
	.title, .showMessage {
		animation: slide-in 3.5s ease-in-out;
	}
	&:before {
		content: "";
		z-index: -1;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url("../img/background.jpg") no-repeat center / cover;
		opacity: 0.3;
	}
}

.swal2-container.swal2-center > .swal2-popup {
	font-family: monospace;
}

.collapse {
	@include slideInUpOnCollapse;
}

.accordion {
	--bs-accordion-active-bg: transparent !important;
	--bs-accordion-bg: transparent;
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
	--bs-accordion-btn-color: #cacaca;
	--bs-accordion-active-color: #a1a1a1;
	--bs-accordion-active-bg: rgba(1, 1, 1, 0.2);
	.accordion-item {
		border: none;
		@include slideInUpAccordionItem;
		.accordion-button::after,
		.accordion-button:not(.collapsed)::after {
			background: url("https://api.iconify.design/iconoir/nav-arrow-down.svg?color=%23cacaca")
				no-repeat center center / contain;
		}
		.accordion-button:is(.collapsed) {
			color: #cacaca;
		}

		.accordion-button:not(.collapsed) {
			color: #f1f1f1;
			> p {
				transform: translateX(pxToRem(15));
				transition: transform 0.6s ease-in-out;
			}
		}
	}
}

.input-group-text {
	border-radius: 20% 0% 0% 20%;
	background: transparent;
}

.accordion-body {
	.btn-outline-secondary {
			border: pxToRem(1) solid #cacaca;
			border-left: none;
			border-radius: 0 20% 20% 0%;
			color: #cacaca;
			&:hover,
			&:focus {
				box-shadow: none;
				background: transparent;
				border-color: #cacaca;
			}
			&:hover svg {
				transform: scale(1.1);
			}
}
	.form-control {
		background: transparent;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		@include placeholder {
			color: #cacaca;
		}
	}
}

@keyframes slide-in-up {
	from {
		transform: translateY(100%);
	}
}

@keyframes slide-in {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(0);
	}
}

// add_resource
form {
	.form-control, .form-select {
		@include placeholder {
			color: #888;
		}
		background-color: transparent;
		color: #cacaca;
		&:focus {
			background-color: transparent;
			color: #cacaca;
			box-shadow: 0 0 0 0.25rem rgba(89, 97, 100, .2);
			border-color: #a1a1a1;
		}
	}
	.form-select {
		background-image: url("https://api.iconify.design/typcn/arrow-sorted-down.svg?color=%23cacaca");
		-webkit-appearance: none;
		option {
			background-color: #596164;
		}
	}
}
