* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #888;
}
a:hover {
  color: #cacaca;
}

li {
  list-style: none;
}

::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #868f96;
}

::-moz-selection {
  background: #5e024a;
  color: #cacaca;
}

::selection {
  background: #5e024a;
  color: #cacaca;
}

html {
  overflow: overlay;
}

body {
  height: 100%;
  width: 100%;
  font-family: "B612 Mono", monospace;
}

.main {
  z-index: 1;
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 10rem 0;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: #cacaca;
}
.main header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  min-height: 8vh;
  background: rgba(1, 1, 1, 0.03);
  -webkit-backdrop-filter: blur(1.5625rem);
          backdrop-filter: blur(1.5625rem);
  border-bottom: 0.0625rem solid rgba(1, 1, 1, 0.08);
}
.main header nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 2.1875rem;
  margin: 1.25rem auto;
}
.main .title, .main .showMessage {
  -webkit-animation: slide-in 3.5s ease-in-out;
          animation: slide-in 3.5s ease-in-out;
}
.main:before {
  content: "";
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/background.jpg") no-repeat center/cover;
  opacity: 0.3;
}

.swal2-container.swal2-center > .swal2-popup {
  font-family: monospace;
}

.collapse:nth-of-type(1) {
  -webkit-animation: slide-in-up 0.1s ease-in-out;
          animation: slide-in-up 0.1s ease-in-out;
}
.collapse:nth-of-type(2) {
  -webkit-animation: slide-in-up 0.2s ease-in-out;
          animation: slide-in-up 0.2s ease-in-out;
}
.collapse:nth-of-type(3) {
  -webkit-animation: slide-in-up 0.3s ease-in-out;
          animation: slide-in-up 0.3s ease-in-out;
}
.collapse:nth-of-type(4) {
  -webkit-animation: slide-in-up 0.4s ease-in-out;
          animation: slide-in-up 0.4s ease-in-out;
}
.collapse:nth-of-type(5) {
  -webkit-animation: slide-in-up 0.5s ease-in-out;
          animation: slide-in-up 0.5s ease-in-out;
}
.collapse:nth-of-type(6) {
  -webkit-animation: slide-in-up 0.6s ease-in-out;
          animation: slide-in-up 0.6s ease-in-out;
}
.collapse:nth-of-type(7) {
  -webkit-animation: slide-in-up 0.7s ease-in-out;
          animation: slide-in-up 0.7s ease-in-out;
}
.collapse:nth-of-type(8) {
  -webkit-animation: slide-in-up 0.8s ease-in-out;
          animation: slide-in-up 0.8s ease-in-out;
}
.collapse:nth-of-type(9) {
  -webkit-animation: slide-in-up 0.9s ease-in-out;
          animation: slide-in-up 0.9s ease-in-out;
}
.collapse:nth-of-type(10) {
  -webkit-animation: slide-in-up 1s ease-in-out;
          animation: slide-in-up 1s ease-in-out;
}
.collapse:nth-of-type(11) {
  -webkit-animation: slide-in-up 1.1s ease-in-out;
          animation: slide-in-up 1.1s ease-in-out;
}
.collapse:nth-of-type(12) {
  -webkit-animation: slide-in-up 1.2s ease-in-out;
          animation: slide-in-up 1.2s ease-in-out;
}
.collapse:nth-of-type(13) {
  -webkit-animation: slide-in-up 1.3s ease-in-out;
          animation: slide-in-up 1.3s ease-in-out;
}
.collapse:nth-of-type(14) {
  -webkit-animation: slide-in-up 1.4s ease-in-out;
          animation: slide-in-up 1.4s ease-in-out;
}
.collapse:nth-of-type(15) {
  -webkit-animation: slide-in-up 1.5s ease-in-out;
          animation: slide-in-up 1.5s ease-in-out;
}
.collapse:nth-of-type(16) {
  -webkit-animation: slide-in-up 1.6s ease-in-out;
          animation: slide-in-up 1.6s ease-in-out;
}
.collapse:nth-of-type(17) {
  -webkit-animation: slide-in-up 1.7s ease-in-out;
          animation: slide-in-up 1.7s ease-in-out;
}
.collapse:nth-of-type(18) {
  -webkit-animation: slide-in-up 1.8s ease-in-out;
          animation: slide-in-up 1.8s ease-in-out;
}
.collapse:nth-of-type(19) {
  -webkit-animation: slide-in-up 1.9s ease-in-out;
          animation: slide-in-up 1.9s ease-in-out;
}
.collapse:nth-of-type(20) {
  -webkit-animation: slide-in-up 2s ease-in-out;
          animation: slide-in-up 2s ease-in-out;
}
.collapse:nth-of-type(21) {
  -webkit-animation: slide-in-up 2.1s ease-in-out;
          animation: slide-in-up 2.1s ease-in-out;
}
.collapse:nth-of-type(22) {
  -webkit-animation: slide-in-up 2.2s ease-in-out;
          animation: slide-in-up 2.2s ease-in-out;
}
.collapse:nth-of-type(23) {
  -webkit-animation: slide-in-up 2.3s ease-in-out;
          animation: slide-in-up 2.3s ease-in-out;
}
.collapse:nth-of-type(24) {
  -webkit-animation: slide-in-up 2.4s ease-in-out;
          animation: slide-in-up 2.4s ease-in-out;
}
.collapse:nth-of-type(25) {
  -webkit-animation: slide-in-up 2.5s ease-in-out;
          animation: slide-in-up 2.5s ease-in-out;
}
.collapse:nth-of-type(26) {
  -webkit-animation: slide-in-up 2.6s ease-in-out;
          animation: slide-in-up 2.6s ease-in-out;
}
.collapse:nth-of-type(27) {
  -webkit-animation: slide-in-up 2.7s ease-in-out;
          animation: slide-in-up 2.7s ease-in-out;
}
.collapse:nth-of-type(28) {
  -webkit-animation: slide-in-up 2.8s ease-in-out;
          animation: slide-in-up 2.8s ease-in-out;
}
.collapse:nth-of-type(29) {
  -webkit-animation: slide-in-up 2.9s ease-in-out;
          animation: slide-in-up 2.9s ease-in-out;
}
.collapse:nth-of-type(30) {
  -webkit-animation: slide-in-up 3s ease-in-out;
          animation: slide-in-up 3s ease-in-out;
}
.collapse:nth-of-type(31) {
  -webkit-animation: slide-in-up 3.1s ease-in-out;
          animation: slide-in-up 3.1s ease-in-out;
}
.collapse:nth-of-type(32) {
  -webkit-animation: slide-in-up 3.2s ease-in-out;
          animation: slide-in-up 3.2s ease-in-out;
}
.collapse:nth-of-type(33) {
  -webkit-animation: slide-in-up 3.3s ease-in-out;
          animation: slide-in-up 3.3s ease-in-out;
}
.collapse:nth-of-type(34) {
  -webkit-animation: slide-in-up 3.4s ease-in-out;
          animation: slide-in-up 3.4s ease-in-out;
}
.collapse:nth-of-type(35) {
  -webkit-animation: slide-in-up 3.5s ease-in-out;
          animation: slide-in-up 3.5s ease-in-out;
}

.accordion {
  --bs-accordion-active-bg: transparent !important;
  --bs-accordion-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.05);
  --bs-accordion-btn-color: #cacaca;
  --bs-accordion-active-color: #a1a1a1;
  --bs-accordion-active-bg: rgba(1, 1, 1, 0.2);
}
.accordion .accordion-item {
  border: none;
}
.accordion .accordion-item:nth-child(1) {
  -webkit-animation: slide-in-up 0.9s ease-in-out;
          animation: slide-in-up 0.9s ease-in-out;
}
.accordion .accordion-item:nth-child(2) {
  -webkit-animation: slide-in-up 1.8s ease-in-out;
          animation: slide-in-up 1.8s ease-in-out;
}
.accordion .accordion-item:nth-child(3) {
  -webkit-animation: slide-in-up 2.7s ease-in-out;
          animation: slide-in-up 2.7s ease-in-out;
}
.accordion .accordion-item:nth-child(4) {
  -webkit-animation: slide-in-up 3.6s ease-in-out;
          animation: slide-in-up 3.6s ease-in-out;
}
.accordion .accordion-item:nth-child(5) {
  -webkit-animation: slide-in-up 4.5s ease-in-out;
          animation: slide-in-up 4.5s ease-in-out;
}
.accordion .accordion-item:nth-child(6) {
  -webkit-animation: slide-in-up 5.4s ease-in-out;
          animation: slide-in-up 5.4s ease-in-out;
}
.accordion .accordion-item:nth-child(7) {
  -webkit-animation: slide-in-up 6.3s ease-in-out;
          animation: slide-in-up 6.3s ease-in-out;
}
.accordion .accordion-item:nth-child(8) {
  -webkit-animation: slide-in-up 7.2s ease-in-out;
          animation: slide-in-up 7.2s ease-in-out;
}
.accordion .accordion-item:nth-child(9) {
  -webkit-animation: slide-in-up 8.1s ease-in-out;
          animation: slide-in-up 8.1s ease-in-out;
}
.accordion .accordion-item:nth-child(10) {
  -webkit-animation: slide-in-up 9s ease-in-out;
          animation: slide-in-up 9s ease-in-out;
}
.accordion .accordion-item:nth-child(11) {
  -webkit-animation: slide-in-up 9.9s ease-in-out;
          animation: slide-in-up 9.9s ease-in-out;
}
.accordion .accordion-item:nth-child(12) {
  -webkit-animation: slide-in-up 10.8s ease-in-out;
          animation: slide-in-up 10.8s ease-in-out;
}
.accordion .accordion-item:nth-child(13) {
  -webkit-animation: slide-in-up 11.7s ease-in-out;
          animation: slide-in-up 11.7s ease-in-out;
}
.accordion .accordion-item:nth-child(14) {
  -webkit-animation: slide-in-up 12.6s ease-in-out;
          animation: slide-in-up 12.6s ease-in-out;
}
.accordion .accordion-item:nth-child(15) {
  -webkit-animation: slide-in-up 13.5s ease-in-out;
          animation: slide-in-up 13.5s ease-in-out;
}
.accordion .accordion-item .accordion-button::after,
.accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background: url("https://api.iconify.design/iconoir/nav-arrow-down.svg?color=%23cacaca") no-repeat center center/contain;
}
.accordion .accordion-item .accordion-button:is(.collapsed) {
  color: #cacaca;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #f1f1f1;
}
.accordion .accordion-item .accordion-button:not(.collapsed) > p {
  transform: translateX(0.9375rem);
  transition: transform 0.6s ease-in-out;
}

.input-group-text {
  border-radius: 20% 0% 0% 20%;
  background: transparent;
}

.accordion-body .btn-outline-secondary {
  border: 0.0625rem solid #cacaca;
  border-left: none;
  border-radius: 0 20% 20% 0%;
  color: #cacaca;
}
.accordion-body .btn-outline-secondary:hover, .accordion-body .btn-outline-secondary:focus {
  box-shadow: none;
  background: transparent;
  border-color: #cacaca;
}
.accordion-body .btn-outline-secondary:hover svg {
  transform: scale(1.1);
}
.accordion-body .form-control {
  background: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.accordion-body .form-control::-webkit-input-placeholder {
  color: #cacaca;
}
.accordion-body .form-control:-moz-placeholder {
  color: #cacaca;
}
.accordion-body .form-control::-moz-placeholder {
  color: #cacaca;
}
.accordion-body .form-control:-ms-input-placeholder {
  color: #cacaca;
}

@-webkit-keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}

@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}
@-webkit-keyframes slide-in {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slide-in {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}
form .form-control, form .form-select {
  background-color: transparent;
  color: #cacaca;
}
form .form-control::-webkit-input-placeholder, form .form-select::-webkit-input-placeholder {
  color: #888;
}
form .form-control:-moz-placeholder, form .form-select:-moz-placeholder {
  color: #888;
}
form .form-control::-moz-placeholder, form .form-select::-moz-placeholder {
  color: #888;
}
form .form-control:-ms-input-placeholder, form .form-select:-ms-input-placeholder {
  color: #888;
}
form .form-control:focus, form .form-select:focus {
  background-color: transparent;
  color: #cacaca;
  box-shadow: 0 0 0 0.25rem rgba(89, 97, 100, 0.2);
  border-color: #a1a1a1;
}
form .form-select {
  background-image: url("https://api.iconify.design/typcn/arrow-sorted-down.svg?color=%23cacaca");
  -webkit-appearance: none;
}
form .form-select option {
  background-color: #596164;
}/*# sourceMappingURL=style.css.map */