@import "./_variables";
@import "./_functions";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.btn {
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba($darkPastelAzure, $alpha: 0.2);;
}

.btn-secondary {
	--bs-btn-color: #fff;
	--bs-btn-bg: #203d53;
	--bs-btn-border-color: #203d53;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #203d53cc;
	--bs-btn-hover-border-color: #3f7096;
	--bs-btn-focus-shadow-rgb: 130, 138, 145;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #3f7096;
	--bs-btn-active-border-color: #3f7096;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #203d53;
	--bs-btn-disabled-border-color: #203d53;
}

  .btn-outline-secondary {
	--bs-btn-color: #203d53;
	--bs-btn-border-color: #203d53;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #203d53;
	--bs-btn-hover-border-color: #203d53;
	--bs-btn-focus-shadow-rgb: 108,117,125;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #203d53;
	--bs-btn-active-border-color: #203d53;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #203d53;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #203d53;
	--bs-gradient: none;
}

.alert-warning {
	--bs-alert-bg: #fff3cd4d;
}

.alert-success {
	--bs-alert-bg: #0f51324d;
	--bs-alert-border-color: #0f513299;
}

a {
	text-decoration: none;
	color: $grayishAzure;
	&:hover {
		color: $darkPastelAzure;
	}
}

li {
	list-style: none;
}

::-webkit-scrollbar-track {
	border-radius: pxToRem(10);
	background-color: transparent;
}

::-webkit-scrollbar {
	width: pxToRem(6);
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: pxToRem(10);
	background-color: #868f96;
	display: none;
}

.showScrollbar ::-webkit-scrollbar-thumb {
	display: initial;
}

::selection {
	background: $darkPastelAzure;
	color: #fff;
}

html {
	overflow: overlay;
}

body {
	height: 100%;
	width: 100%;
	font-family: "B612 Mono", monospace;
}

.main {
	z-index: 1;
	position: relative;
	min-height: 100vh;
	padding-top: 10rem;
	width: 100%;
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
	color: $darkPastelAzure;
	header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		width: 100%;
		min-height: 8vh;
		background: rgba($grayishAzure, $alpha: 0.03);
		backdrop-filter: blur(pxToRem(25));
		border-bottom: pxToRem(1) solid rgba($grayishAzure, $alpha: 0.08);
		nav ul {
			@include mediaQueryMax(s) {
				gap: 1rem;
				margin-right: pxToRem(3);
				li:first-child {
					display: flex;
					gap: 0.5rem;
				}
			}
			@include flexCenter(flex-end);
			padding: 0 pxToRem(35);
			margin: pxToRem(20) auto;
		}
	}
	.title,
	.showMessage {
		animation: revealItems 1.5s ease-in-out;
	}
	.showMessage {
		animation: slide-in 1.5s ease-in-out
	}
	&:before {
		@include backgroundBefore(
			fixed,
			0.8,
			linear-gradient(to top, #6a85b6 0%, #bac8e0 100%)
		);
	}
}

.searchBar {
	input[type="search"] {
		background: transparent;
		border-right: none;
		border-color: $darkPastelAzure;
		box-shadow: none;
		color: $darkPastelAzure;
		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;
			height: pxToRem(15);
			width: pxToRem(15);
			background-image: url("https://api.iconify.design/ep/close-bold.svg?color=%23203d53");
			background-size: pxToRem(15) pxToRem(15);
		}
		&:focus {
			&::placeholder {
				transform: translateX(-15rem);
				transition: transform 1.5s ease-in-out;
			}
		}
		@include placeholder {
			color: $grayishAzure;
			transition: transform .5s ease-in-out;
		}
	}
	.btn-outline-secondary {
		border-color: $darkPastelAzure;
		transition: .5s linear;
		&:hover {
			transform: translateX(-.2rem);
			transition: .5s linear;
		}
	}
}

#changeLogModal {
	background: rgba($color: #cacaca, $alpha: 0.7);
}

.modal {
	--bs-modal-bg: transparent;
	--bs-modal-header-border-color: #888;
	--bs-modal-footer-border-color: #888;
	.btn-close {
		background: url("https://api.iconify.design/ep/circle-close.svg?color=%23111")
			center/1.5rem auto no-repeat;
		&:focus {
			box-shadow: none;
		}
	}
	::selection {
		background: #111;
		color: #cacaca;
	}
	.modal-content {
		max-height: 30rem;
		overflow: auto;
	}
}

.tooltip-inner {
	background-color: $darkPastelAzure;
	color: #f1f1f1;
	margin: pxToRem(10) 0;
}

.tooltip-arrow::before {
	--bs-tooltip-bg: #203d53;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
	top: pxToRem(-10);
	border-width: var(--bs-tooltip-arrow-height)
		calc(var(--bs-tooltip-arrow-width) * 0.5) 0;
	border-top-color: var(--bs-tooltip-bg);
}

.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before {
	bottom: pxToRem(-10);
	border-width: 0 calc(var(--bs-tooltip-arrow-width) * 0.5)
		var(--bs-tooltip-arrow-height);
	border-bottom-color: var(--bs-tooltip-bg);
}

.spanFilter {
	border: 0.1rem dashed;
	padding: 0.3rem 0.5rem;
	border-radius: 5%;
	.closeFilter {
		cursor: pointer;
	}
}

.swal2-container.swal2-center > .swal2-popup {
	font-family: monospace;
}

.swal2-styled.swal2-confirm {
	background: $darkPastelAzure;
	&:focus {
		box-shadow: 0 0 0 3px $darkPastelAzure;
	}
}

.collapse {
	@include slideInUpOnCollapse;
}

.accordion {
	--bs-accordion-active-bg: transparent !important;
	--bs-accordion-bg: transparent;
	--bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(32, 61, 83, .2);
	--bs-accordion-btn-color: $darkPastelAzure;
	--bs-accordion-active-color: $grayishAzure;
	--bs-accordion-active-bg: rgba(1, 1, 1, 0.2);
	.accordion-item {
		border: none;
		@include slideInUpAccordionItem;
		.accordion-button {
			&:after,
			&:not(.collapsed)::after {
				background: url("https://api.iconify.design/iconoir/nav-arrow-down.svg?color=%23203d53")
					no-repeat center center / contain;
				transition: all 0.4s linear;
			}
			&:is(.collapsed) {
				color: $darkPastelAzure;
			}
			&:not(.collapsed) {
				--bs-accordion-border-color: transparent;
				color: rgba(32, 61, 83, .7);
				> p {
					transform: translateX(pxToRem(15));
					transition: transform 0.6s ease-in-out;
				}
			}
		}
	}
}

.input-group-text {
	border-radius: 20% 0% 0% 20%;
	background: transparent;
	border: 1px solid $darkPastelAzure;
	color: $darkPastelAzure;
}

.select2-container--default .select2-selection--single {
	background: transparent;
	border: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-results > .select2-results__options {
	background: rgba($color: #010101, $alpha: 0.1);
	color: #a5a5a5;
	border: none;
	outline: none;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: rgba($darkPastelAzure, $alpha: .6);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: $darkPastelAzure transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent $darkPastelAzure transparent;
}

.select2-results__option--selectable {
	color: rgba($darkPastelAzure, $alpha: .6);
}

.badge-feature {
	color: #0090e080;
}

.badge-bugfix {
	color: #d6424280;
}

.accordion-body {
	.btn-outline-secondary {
		border: pxToRem(1) solid $darkPastelAzure;
		border-left: none;
		border-radius: 0 20% 20% 0%;
		color: $darkPastelAzure;
		transition: color .5s ease-in-out;
		&:hover {
			background: $darkPastelAzure;
			transition: color .5s ease-in-out;
		}
		&:focus {
			box-shadow: none;
			background: transparent;
			border-color: $darkPastelAzure;
		}
		&:hover svg {
			color: #fff;
			transform: scale(1.2);
			transition: all .5s ease-in-out;
		}
	}
	.form-control {
		background: transparent;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		border: 1px solid $darkPastelAzure;
		@include placeholder {
			color: rgba($darkPastelAzure, $alpha: .7);
		}
	}
}

.sweet_text {
	color: #7066e0;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	background: rgba($grayishAzure, $alpha: 0.03);
	backdrop-filter: blur(pxToRem(25));
	border-top: pxToRem(1) solid rgba($grayishAzure, $alpha: 0.08);
	min-height: 8vh;
	padding: 2rem 0;
	margin-top: 10rem;
	text-align: center;
	@include flexCenterCol;
	a {
		color: #203d53;
		transition: color .5s ease-in-out;
		&:hover {
			color: #cacaca;
			transition: color .5s ease-in-out;
		}
	}
	.footerStack {
		color: #203d53;
	}
	.icons {
		span {
			display: inline;
			color: #203d53;
			&:not(:first-child):before {
				content: "\007C";
				margin: 0 pxToRem(8);
			}
		}
	}
}

#smoothScroll {
	position: fixed;
	background: transparent;
	border: solid pxToRem(3);
	border-color: $darkPastelAzure;
	padding: pxToRem(15);
	border-radius: pxToRem(10);
	bottom: pxToRem(50);
	right: pxToRem(25);
	font-size: 1rem;
	text-align: center;
	line-height: pxToRem(10);
	transition: all 0.9s;
	bottom: pxToRem(-150);
	color: $darkPastelAzure;
	&:hover {
		background: rgba($darkPastelAzure, $alpha: .3);
	}
}

@keyframes slide-in-up {
	from {
		transform: translateY(100%);
	}
}

@keyframes slide-in {
	from {
		transform: translateY(-200%);
	}
	to {
		transform: translateY(0);
	}
}

// add_resource
form {
	.form-control {
		@include placeholder {
			color: rgba($darkPastelAzure, $alpha: .6);
		}
		background-color: transparent;
		color: $darkPastelAzure;
		border-color: $darkPastelAzure;
		&:focus {
			background-color: transparent;
			color: $darkPastelAzure;
			box-shadow: 0 0 0 0.25rem rgba($darkPastelAzure, $alpha: 0.2);
			clip-path: inset(-0.2rem 0px -0.2rem -0.2rem);
			border-color: $grayishAzure;
		}
	}
}
